* body, header, main, h1, h2 {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: Merriweather, Oswald, Raleway, sans-serif;
}

body {
  max-width: 960px;
}

header {
  text-align: center;
  background-color: rgb(156, 204, 250);
}

.logo, .header-title-text {
  display: inline-block;
  vertical-align: middle;
}

.logo {
  width: 125px;
  /* width: 8vw; */
}

/* div contains title and motto together */
.header-title-text {
  margin-left: 20px;
  font-size: 1.1em;
  /*font-size: 1.8vw;*/
}

/* first line in header */
.title-header {
  color:  rgb(24, 88, 74);
  text-shadow: 5px .5px rgb(148, 180, 240);
}

.motto {
  font-style: oblique;
  font-weight: 700;
  color:  rgb(24, 88, 74);
}

nav.menu {
  margin: 0 auto;
}

.menu ul, li {
  padding: 0;
  box-shadow: 5px 10px 18px #888888;
  list-style-type: none;
}

.menu a {
  display: block;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 1.5em;
  padding: .5em 0;
  border: 1px solid rgb(27, 10, 27);
  background: rgb(56, 112, 185);
  border-radius: 5px 5px 5px 5px;
  text-decoration: none;
}

.menu a:hover {
  background: rgb(24, 88, 74);
}

.menu .active {
  background: rgb(24, 88, 74);
}

.hero-banner img {
  max-width: 100%;
  width: 100%;
  height: auto;
  box-shadow: 5px 10px 18px #888888;
  margin-top: 10px;
  border-radius: 5px 5px 5px 5px;
}

