/*--- media queries ---*/

@media only screen and (min-width: 960px) {
  .hover-shadow {
    transition: 0.3s;
  }

  .hover-shadow:hover {
    box-shadow: .5px  5px 10px 5px rgba(0, 0, 0, 0.4), .5px 5px 10px 5px rgba(0, 0, 0, 0.4);
  };

}


@media screen and (min-width:1200px) {
 Increase the font size */
 }
 @media screen and (min-width:1400px) {
  html { max-width: 1340px;
    margin: 0  auto; } /* Reduce the container width */

 @media screen and (min-width:1600px) {

 @media screen and (min-width:1800px) {

 }