
  /*------- Weather Site Resets, Global settngs -------*/
  :root {
    --min-screen: 320px;
    --max-screen: 1280px;
    --min-font-base: 16px;
    --max-font-base: 18px;
    --min-font-h1:
    --max-font-h


    --min-font: 16px;
    --max-font: 18px;

    --font-calc: calc(var(--min-font) + (var(--max-font) - var(--min-font)) * (100vw - var(--min-screen))/(var(--max-screen)-var(--min-screen)));

    --bk-color-light: rgb(156, 204, 250);
    --bk-color-dk: rgb(56, 112, 185);
    --bk-color-accent-dk: rgb(24, 88, 74);
    --box-shadow-light: 5px 10px 18px #888888;
    --box-shadow-dk: 5px 10px 18px #0a0909;
    --box-shadow-dk-left; -13px 4px 24px 7px rgba(0,0,0,0.69);
    --text-shadow: 0px 2px 8px 6px rgba(0,0,0,0.2), 0px -5px 35px rgba(255,255,255,0.3);
  }

/**
 * Box Sizing
 *
 * Applies a natural box layout model to all elements so that width and padding
 * are essentially combined, making responsive styles easier to manage.
 */

 *, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
html {
  font-size: 18px;
}

* html, body, header, footer, main, h1, h2, nav, section, article{
  margin: 0;
  padding: 0;
  font-family: 'Oxygen','Lato', sans-serif;
}

main > * {
  margin: 0 auto;
  max-width: 90%;
  height: auto;
}

.container {
  background-color: rgb(56, 112, 185);
  margin: 1.5rem  auto;
  padding: .6em;
  box-shadow: 5px 10px 18px #0a0909;
  border-radius: 5px 5px 5px 5px;
  color: #fff;
  align-content: center;
}

header, footer{
  background-color: var(--bk-color-light);
}

footer {
  box-shadow: 4px 14px 7px rgba(0,0,0,0.69);
}

/*------- Header: Title and Logo -------*/
#assignment-portal {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: center;
  padding: .8rem;
  margin: .2em .2em 0px .2em;
  width: 100%;
  align-items: center;
}

.logo {
  width: 14vw;
  max-width: 10rem;
  min-width: 6.9rem;
  padding-right: 2em;
}

header h1 {
  color:  rgb(24, 88, 74);
  text-shadow: 2px 8px 6px rgba(0,0,0,0.2), 0px -5px 35px rgba(255,255,255,0.3);
  margin: 0;
  font-size: 4.2vh;
}

header span {
  font-style: oblique;
  font-size: smaller;
}

/*------- Navigation, Hamburger Menu -------*/

nav {
  box-shadow: 5px 10px 18px #888888;
  background: rgb(56, 112, 185);
  width: 100%;
  margin: 0em .2em 0px .2em;
}

.navigation {
  list-style-type: none;
  display: flex;
  flex-flow: column nowrap;
  padding: 0;
  margin-top: 0;
}

.navigation li:first-child, .navigation li a {
  display: block;
}

.navigation li a {
    display: block;
    text-align: center;
	  padding: 1rem;
    text-decoration: none;
    color: #ffffff;
    border: 2px solid var(--bk-color-accent-dk);
    font-size: 2.5vh;
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2), 0px -5px 35px rgba(255,255,255,0.3);
  }

  .navigation li {
    display: none;
  }

  .responsive li {
    display: block;
  }

/*------- active text and link styling -------*/

.navigation a.active {
  background-color: var(--bk-color-dk);
}

.navigation a:hover {
  background: rgb(24, 88, 74);
}

.copyright a:link, .copyright a:visited {
  color: var(--bk-color-dk);
}


.copyright a:hover {
  background: var(--bk-color-dk);
  color: #ffffff;
}

/*------- Hero Container and Image -------*/

section.grid-container {
  display: grid;
  grid-template-columns: minmax(290px, auto)  1fr;
  grid-template-rows: minmax(230px, 1fr);
  background-color: #000;
  color: #444;
  min-width: 250px;
  min-height: 364px;
  box-shadow: 5px 10px 18px #0a0909;
}

section .grid-item.image {
  grid-column: 1 / -1;
  grid-row: 1;
}

section .grid-item.overlay {
  grid-column: 1;
  grid-row: 1;
  z-index: 1;
}

.hero {
  object-fit: cover;
  width: 100%;
  min-height: 365px;
  box-shadow: 5px 10px 18px #888888;
  border-radius: 5px 5px 5px 5px;
}

/*------- Weather Summary -------*/

.overlay form {
  margin: 1rem 1rem auto;
  padding: .75em;
  background-color: rgba(13, 78, 53, 0.5);
  object-fit: contain;
  font-size: 1.5ch;
  min-width: 275px;
  color: #fff;
  font-size: 1.2rem;
  box-shadow: 5px 10px 18px #0a0909;
}

.overlay form h3 {
  margin: 0 0 .8em auto;
  border-bottom: 1px solid #fff;
}

.overlay form > label {
  min-width: 125px;
  margin-left: .8em;
  padding-bottom: .5em;
  text-align: end;
  display: inline-block;
}

.overlay form > input {
  width: 2.2em;
  min-width: 2.2em;
  background-color: transparent;
  padding-bottom: .5em;
  padding-right: .35em;
  border: none;
  color: inherit;
  text-align: right;
  display: inline-block;
  font-size: 1.8ch;
}

#current-conditions {
  width: 4em;
  min-width: 4em;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

/*------- Forecast -------*/

.container.forecast {
  display: none;
  background-color: rgb(56, 112, 185);
  box-shadow: 5px 10px 18px #0a0909;
  border-radius: 5px 5px 5px 5px;
  color: #fff;
  align-content: center;
}

.forecast table {
  margin: .5em auto;
  padding-top: .5em;
  background-color: #fff;
  box-shadow: 5px 10px 18px #0a0909;
  border-radius: 5px 5px 5px 5px;
}

.forecast table th {
  font-size: 115%;
  color: rgb(56, 112, 185);
}

.forecast table td {
  padding: .5em;
  font-size: 115%;
  background-color: rgb(56, 112, 185);
  border: 2px solid #0a0909;
}

/*------- Article, Footer -------*/

article.grid-container, footer .grid-container {
  display: grid;
  grid-template-columns: 2fr 1.75fr;
  grid-template-rows: auto;
  background-color: var(--bk-color-light);
  color: #444;
  min-width: 250px;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 5px 10px 18px #0a0909;
  justify-content: center;
  align-content: center;
}

article .grid-item > *, footer address.grid-item {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

article .article-title {
  display: flex;
  grid-column: 1;
  padding-top: .5rem;
  padding-left: .5rem;
}

article .article-subtitle {
  display: flex;
  grid-column: 1;
  grid-row: 1;
  margin: 0;
  padding-left: 1em;

}

article .grid-item p.article-body, footer .grid-item.contact {
  grid-column: 1;
  grid-row: 1;
  text-indent: 2em;
  margin: 1em;
  display: inline-block;
}

footer .grid-item.contact {
  grid-column: 1;
  grid-row: 1;
  text-indent: 0em;
  margin: 1em;
  display: block;
  font-size: 1.2rem;

}

article .image, #map {
  grid-column: 2;
  grid-row: 1;
  margin: .8rem;
  align-self: center;
  object-fit: cover;
  width: 90%;
  height: 300px;
  box-shadow: 5px 10px 18px #0a0909;
  border-radius: 5px 5px 5px 5px;
  z-index: 0;
}

/*------- Footer-Contact -------*/
footer .grid-container {
  background-color: var(--bk-color-dk);
  color: #ffffff;
  margin-top: 1.5rem;
  box-shadow: none;

}

footer p.copyright {
  font-size: 1rem;
  margin: 1em;
  padding-bottom: 1em;
  display: block;
  text-align: center;
  color: var(--bk-color-dk);
}


/*------- Map Iframe -------*/

/* .resp-container-iframe {
  position: relative;
  overflow: hidden;
  padding: 28vw 0 0 0;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 0px 10px 18px 5px #0a0909;
} */

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.grid-container.gallery {
  max-width: 960px;
  min-width: 330px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 15px;
  margin: 0 auto;
  background-color: purple;
}

.grid-container.gallery > * {
  background-color: #8ca0ff;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
}

img.gallery {
  min-width: 100%;
  max-height: 300px;
  object-fit: cover;
  padding-bottom: 10px;
}

.gallery p {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 20px 20px 10px;
  align-self: center;
}

.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: .5px  5px 10px 5px rgba(0, 0, 0, 0.4), .5px 5px 10px 5px rgba(0, 0, 0, 0.4);
};

